.like-section {
    display: flex;
        align-items: center;
        justify-content: center
}

.p-like{
    height: 500px;
}
 
.like-image {
    /* width: 20px; */
    /* width: 15rem; */
    /* height: 50px; */
    position: relative;
    margin-top: 40px;
    display: inline;
    max-height:480px;
    width: auto;
    height: auto;
    border: 5px ridge orange;
}

.like-description {
    color: black;
	display: block;
    font-size: 30px;
    margin-left: 50px;
    /* margin-right: 20px; */
}

.button {
    display: inline-block;
    
}

.likes-counter {
    margin-bottom: 15px;
    display: block;
}