footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   /* margin-top: auto; */
   text-align: center;
   background: #412a2a;
}
  
  footer p {
    padding: 1rem 0;
    font-weight: bold;
    margin: 0rem;
    color: white;
  }